h1 {
    font-size: 65px;
    color:orange;
    font-family: sans-serif;
}

p {
    font-weight: 600;
    font-size: 3em;
}

ul {
    background-color:red ;
}

body {
    font-size: 16px;
}
li {
    font-style: oblique;
    line-height: 60px;
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
}

 .cor-fundo {
    background-color:yellow ;
 }
 #azul {background-color: blue;}
 #aqua {background-color: aqua;}
 #violeta {background-color: blueviolet;}